@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Josefin+Sans:wght@300;400;600;700&family=Nunito:wght@300;400;600;700&display=swap");
#us .text h2 {
  color: #D3AB55;
  font-family: "Dancing Script", cursive;
  font-weight: 700;
}

nav .links a {
  font-family: "Dancing Script", cursive;
  color: #fff;
  font-weight: 400;
}

footer p {
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
}

#gallery .img-card .img-overlay p, #us .text p {
  font-size: 0.9rem;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  color: #fff;
  background-color: #262626;
  font-size: 62.5%;
  overflow-x: hidden;
}

.brand {
  text-align: center;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: auto;
  margin-top: 50px;
}
.brand .icon {
  border: 1px solid #D3AB55;
  border-radius: 50%;
  filter: brightness(1);
  color: #D3AB55;
  padding: 10px;
  margin-right: 10px;
}
.brand::after {
  content: "Restaurant";
  font-size: 0.7rem;
  opacity: 0.5;
  position: relative;
  top: -10px;
  left: 25px;
  text-align: center;
}

nav {
  position: fixed;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #262626;
  opacity: 0.3;
}
nav .links {
  background-color: #1F1D1D;
  position: relative;
  right: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
nav .links a {
  display: block;
  padding: 10px;
  font-size: 1.6rem;
  text-decoration: none;
}
nav .img-container {
  display: none;
}
nav.active {
  background-color: transparent;
  display: block;
  opacity: 1;
}
nav.active .links {
  transition: right 0.7s linear 0.1s;
  right: 0;
}

.menu {
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
  position: fixed;
  left: 90%;
  top: 3%;
  cursor: pointer;
}
.menu span {
  background-color: #D3AB55;
  display: block;
  width: 70%;
  height: 3px;
  color: #D3AB55;
  z-index: 3;
  position: relative;
}
.menu span::before {
  background-color: #D3AB55;
  content: "";
  display: block;
  transform: translateY(-8px);
  width: 100%;
  height: 3px;
}
.menu span::after {
  background-color: #D3AB55;
  content: "";
  display: block;
  transform: translateY(5px);
  width: 100%;
  height: 3px;
}
.menu.active span {
  transform: rotate(-90deg);
  transition: transform 1s linear 0.1s;
  background-color: transparent;
  transition: background-color 1s linear 0.5s;
}
.menu.active span::before {
  transition: transform 1s linear 1s;
  transform: rotate(45deg);
}
.menu.active span::after {
  transition: transform 1s linear 1s;
  transform: rotate(-45deg);
}

header {
  background: url("/ressources/bg.jpeg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}
header p {
  text-align: center;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 6rem;
  margin-bottom: auto;
  margin-top: 50px;
}
header p #icon {
  border: 1px solid #D3AB55;
  border-radius: 50%;
  filter: brightness(1);
  color: #D3AB55;
  padding: 10px;
  margin-right: 10px;
}
header p::after {
  content: "Restaurant";
  font-size: 0.7rem;
  opacity: 0.5;
  position: relative;
  top: -10px;
  left: 25px;
  text-align: center;
}
header h1 {
  font-family: "Dancing Script", cursive;
  color: #D3AB55;
  font-size: 4rem;
}
header h2 {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
}
header button {
  border: #D3AB55 2px solid;
  background: transparent;
  color: #D3AB55;
  width: 200px;
  height: 50px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: auto;
}

#us {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#us .img-container {
  width: 80%;
  height: 49%;
}
#us .img-container img {
  width: 100%;
  height: 100%;
}
#us .text {
  text-align: center;
  height: 49%;
}
#us .text h2 {
  font-size: 2.5rem;
}
#us .text h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
}
#us .text span {
  font-size: 1.5rem;
  color: #D3AB55;
  display: block;
}
#us .text p {
  font-style: italic;
  font-size: 1.2rem;
}
#us .text button {
  border: #D3AB55 2px solid;
  background: transparent;
  color: #D3AB55;
  width: 200px;
  height: 50px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.2rem;
}

#gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px;
  width: 100%;
  height: 1300px;
}
#gallery .img-card {
  max-width: 400px;
  max-height: 200px;
  width: 100%;
  height: 20%;
  padding: 10px;
}
#gallery .img-card img {
  width: 100%;
  height: 100%;
}
#gallery .img-card .img-overlay {
  opacity: 0;
  background-color: rgba(251, 192, 147, 0.8);
  width: 100%;
  height: 100%;
  position: relative;
  top: -100%;
  left: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#gallery .img-card .img-overlay button {
  border: #D3AB55 2px solid;
  background: #fff;
  color: #D3AB55;
  width: 200px;
  height: 50px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.2rem;
}
#gallery .img-card:hover .img-overlay {
  opacity: 1;
}

footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .network {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
footer .network a {
  width: 30px;
  height: 30px;
  padding-left: 10px;
  color: #fff;
}

@media screen and (min-width: 800px) {
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }
  nav .links {
    width: 50%;
    height: 100%;
  }
  nav .img-container {
    left: -100%;
    perspective: 200px;
    display: block;
    width: 50%;
    height: 100%;
    position: relative;
    background-color: #262626;
    margin-left: 0;
  }
  nav .img-container img {
    width: 40%;
    height: 20%;
    border-radius: 5px;
  }
  nav .img-container .img1 {
    top: 25%;
    position: absolute;
    left: 20%;
    transform: translateZ(-50px);
  }
  nav .img-container .img2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateZ(-25px);
  }
  nav .img-container .img3 {
    position: absolute;
    top: 55%;
    left: 60%;
    transform: translateZ(-20px);
  }
  nav.active {
    display: flex;
  }
  nav.active .img-container {
    display: block;
    left: 0;
    transition: left 0.7s linear 0.1s;
  }
  #gallery {
    height: 900px;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
  }
}
#us .img-container img {
  width: 50%;
  margin-left: 25%;
}

@media screen and (min-width: 1000px) {
  nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
  }
  #us {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  #us .img-container {
    width: 40%;
    height: 50%;
  }
  #us .img-container img {
    margin: 0;
    width: 80%;
    height: 80%;
  }
  #us .text {
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: 100%;
  }
  #us h2, #us h3, #us span, #us button {
    text-align: center;
  }
  #us p {
    width: 90%;
  }
  #gallery .img-card {
    width: 33%;
    max-width: none;
    max-height: none;
    height: 40%;
    padding: 0;
  }
  #gallery .img-card img {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
